<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Ward Page</title>
    <style>
        button:disabled {
            cursor: not-allowed;
            pointer-events: all !important;
        }
        body{
            margin:15px;
        }
    </style>
</head>
<script>
    $(document).ready(function () {
        $("#suspstartDatePicker").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            minDate: '-30', //fin quando indietro

            onSelect: function (selected) {
                var date = $(this).datepicker('getDate');
                var limit = $(this).datepicker('getDate');

                date.setDate(date.getDate() + 0); // The End date must be 0 days after the start date
                limit.setDate(limit.getDate() + 6); // The End date can only be maximum 6 days from today

                $("#suspendDatePicker").datepicker("option", "minDate", date);
                $("#suspendDatePicker").datepicker("option", "maxDate", limit);

                $('#suspendDatePicker').val('');
                abilitaReport();
            },
            
        }).on('input', function(e){abilitaReport()});

        $("#suspendDatePicker").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            multidate: true,
            onSelect: function (selected) {
                abilitaReport();
            }

        }).on('input', function(e){abilitaReport()});



        function abilitaReport(){
            if ($('#suspstartDatePicker').datepicker('getDate') != null && $('#suspendDatePicker').datepicker('getDate') != null){
                $('#report01').prop('disabled', false);
                $('#report02').prop('disabled', false);
                $('#report03').prop('disabled', false);
                $('#generaReportSomministrazione_carrello').attr('href','/wardreport/?dataIniziale='+date_suspstartDatePicker+'&dataFinale='+date_suspendDatePicker+'&funzione=carrello&idUser=<%= idUser %>&unitCode=<%= unitCode %>');
            }else{
                $('#report01').prop('disabled', true);
                $('#report02').prop('disabled', true);
                $('#report03').prop('disabled', true);
            }

        }

        abilitaReport();
    

    }); 

    function generaReportSomministrazione(funzionePassata){

        if ($('#suspstartDatePicker').datepicker('getDate') == null || $('#suspendDatePicker').datepicker('getDate') == null){
            console.log("Valori date nulle");
            return;
        }

        //window.location.href='/wardreport/?idUser=<%= idUser %>&unitCode=<%= unitCode %>'
        console.log("Invocata generaReportSomministrazione con funzione:"+funzionePassata);
        var date_suspstartDatePicker = $('#suspstartDatePicker').datepicker({ dateFormat: 'yy-mm-dd' }).val();
        console.log(date_suspstartDatePicker);
        var date_suspendDatePicker = $('#suspendDatePicker').datepicker({ dateFormat: 'yy-mm-dd' }).val();
        console.log(date_suspendDatePicker);
        //window.open('/wardreport/?funzione='+funzionePassata+'&idUser=<%= idUser %>&unitCode=<%= unitCode %>', '_blank');
        //window.open('/wardreport/?dataIniziale='+date_suspstartDatePicker+'&dataFinale='+date_suspendDatePicker+'&funzione='+funzionePassata+'&idUser=p4cdoctor&unitCode=PSD_PSD_071', '_blank');
        //location.replace('/wardreport/?dataIniziale='+date_suspstartDatePicker+'&dataFinale='+date_suspendDatePicker+'&funzione='+funzionePassata+'&idUser=p4cdoctor&unitCode=PSD_PSD_071');
        location.replace('/wardreport/?dataIniziale='+date_suspstartDatePicker+'&dataFinale='+date_suspendDatePicker+'&funzione='+funzionePassata+'&idUser=<%= idUser %>&unitCode=<%= unitCode %>');


    }
</script>

<body>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Attenzione!</strong> Le seguenti estrazioni potrebbero richiedere alcuni minuti.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <label for="suspstartDatePicker">Data inizio</label>
    <input type="text" id="suspstartDatePicker" name="suspendfrom" class="form-control-lg" placeholder="Inizio" readonly>

    <label for="suspendDatePicker">Data Fine</label>
    <input type="text" id="suspendDatePicker" name="suspendto" class="form-control-lg" placeholder="Fine" readonly>

     <br/><br/>

     <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Riordino carrello</h4>
            </div>
            <div class="card-body">
                <p>Totale quantità prescritta, arrotondata per eccesso all'intero della singola somministrazione.</p>
                <a id = 'generaReportSomministrazione_carrello' href='#' className='text-decoration-none'>
                    <button type="button" id="report01"  class="w-100 btn btn-lg btn-outline-primary">Genera report</button>
                </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Approvvigionamento alla farmacia</h4>
            </div>
            <div class="card-body">
                <p>Totale quantità prescritta, arrotondata per eccesso all'intero di ogni prescrizione.</p>
                <button type="button" id="report02" onclick="generaReportSomministrazione('farmacia')" class="w-100 btn btn-lg btn-outline-primary">Genera report</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Reportistica Amministrativa</h4>
            </div>
            <div class="card-body">
                <p>Estrazione dei farmaci prescritti e somministrati, su base almeno settimanale.</p>
                <button type="button" id="report03" onclick="generaReportSomministrazione('pazienti')" class="w-100 btn btn-lg btn-outline-primary">Genera report</button>
            </div>
          </div>
        </div>
      </div>

    </body>

</html>